# ------------------------
# Python
# ------------------------
venv/
.venv/
__pycache__/
*.pyc
*.db

# ------------------------
# React
# ------------------------
Frontend/node_modules/
Frontend/dist/

# ------------------------
# Backend
# ------------------------
Backend/.env
Backend/uploads/
Backend/database/
Backend/node_modules/
Backend/storage/
Backend/data/


# ------------------------
# VS Code
# ------------------------
.vscode/

# ------------------------
# OS
# ------------------------
.DS_Store