fastapi
uvicorn[standard]

python-dotenv
python-multipart

pydantic
email-validator

sqlalchemy
passlib[bcrypt]
python-jose[cryptography]

langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq

chromadb

sentence-transformers
huggingface-hub

pypdf
docx2txt

easyocr
pillow

numpy
requests

groq